:root {
  --p-dark-navy-blue: #111923;
  --p-grey: #353a50;
  --p-light-grey: #4c5268;
  --p-green: #5ac13a;
  --p-blue-green: #5cc59d;
  --navbar-height: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}

html {
}

a {
  text-decoration: none;
}

section {
  animation-name: scrollIntoView;
  animation-timeline: view();
  animation-range: entry 0% cover 80%;
  animation-fill-mode: forwards;
}
/* Contains all our content */
.container {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 100vh;
  background: var(--p-dark-navy-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

.description {
  color: white;
}

/* Our navbar */
nav {
  position: fixed;
  width: 100%;
  height: var(--navbar-height);
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 5px 5px -5px #000000;
  -webkit-box-shadow: 0px 5px 5px -5px #000000;
  backdrop-filter: blur(5px);
  z-index: 999;
}

nav a {
  color: var(--p-green);
  font-weight: 700;
  font-size: 1.2rem;
  transition: transform 0.2s ease;
}

nav a:hover {
  transform: scale(1.06);
}

/* Hero / Home Page Section */
#home {
  scroll-margin-top: 50vh;
  transform-origin: center center;
  padding-top: var(--navbar-height) !important;
  width: 100vw !important;
  height: calc(100vh - var(--navbar-height));
  padding-left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#home .title {
  font-size: 7rem;
  color: var(--p-green);
  font-weight: 700;
  width: 100%;
  text-align: left;
}

#home .description {
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
}

.title {
  color: var(--p-green);
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
#home .description {
  text-align: left;
}

.helpful-links {
  margin-top: 20px;
  width: 100%;
  display: flex;
  gap: 70px;
}
.helpful-links a {
  border: 1px solid var(--p-green);
  padding: 5px;
  border-radius: 5px;
  font-weight: lighter;
  font-size: 1.5rem;
  color: var(--p-green);
  transition: transform 0.2s ease;
}

.helpful-links a:hover {
  transform: scale(1.1);
}

/* About Me */
#about-me {
  scroll-margin-top: 100px;
  margin-top: 10rem;
  width: 80%;
  padding: 40px;
}

.about-me-content-section {
  display: flex;
  justify-content: space-between;
  border: 3px solid green;
  margin-top: 20px;
  border-radius: 10px;
  align-items: center;
  padding: 20px;
}

#about-me .description {
  width: 70%;
  border-radius: 25px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}

/* skills section and link styling */
.skills {
  width: 100%;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.skills-title {
  margin-top: 20px;
  color: var(--p-blue-green);
  width: 100%;
  text-align: left;
}

.skills a {
  width: 70px;
  height: 70px;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  transition: transform 0.2s ease-in;
}

.skills a:hover {
  transform: translateY(-3px);
}

/* Icon Backgrounds fro each skill */
.react {
  background-image: url("../images/logos/react.png");
}

.express {
  background-image: url("../images/logos/expressJs.png");
}
.python {
  background-image: url("../images/logos/python.png");
}
.cpp {
  background-image: url("../images/logos/cpp.png");
}
.java {
  background-image: url("../images/logos/java.png");
}

#about-me figure {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#about-me figure img {
  height: 150px;
}

#about-me figcaption {
  color: var(--p-green);
}

/* Projects Section */
#projects {
  scroll-margin-top: 100px;
  margin-top: 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Carousel Styling */
.carousel-container {
  width: 70%;
  height: 350px;
  margin-top: -10px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides-and-buttons {
  position: relative;
  width: 100%;
  display: flex;
  /* border: 1px solid red; */
  height: 300px;
  align-items: center;
}

.controls {
  display: flex;
  gap: 20px;
}

.controls button {
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 2rem;
  height: 55px;
  background: var(--p-green);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1);
}

.controls button {
  cursor: pointer;
}

button p {
  margin: 0;
  width: 100%;
  text-align: center;
  display: block;
}

.live {
  font-weight: lighter;
  padding: 0 10px;
  width: 200px;
}

.move {
  font-weight: bolder;
  padding: 0 10px;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid brown; */
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
}

.left,
.right {
  opacity: 0.7;
  filter: blur(5px);
}

.slide.left {
  transform: translate(-120%, -40%);
  z-index: 1;
}

.slide.right {
  z-index: 1;
  transform: translate(20%, -40%);
}

.slide.active {
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-in;
  z-index: 99;
  /* border: 1px solid yellow; */
}

.slide.active:hover {
  transform: translate(-50%, -50%) scale(1.07);
}

.hover-wrapper {
  position: absolute;
  min-height:275px;
  border-radius: 15px;

}


.slide-link-wrapper {
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  border-radius: 15px;
  border: 5px solid rgb(29, 29, 29);
   box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
  display: flex;
    overflow: hidden;
  flex-direction: column;
  z-index: 9999999999;
}

.hover-wrapper:hover {
  animation: hoverAnim 1s infinite alternate ease-in-out forwards;
}
.slide.inactive {
  opacity: 0;
  z-index: -999;
  transform: translate(-50%, -30%);
}

.slide div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* The title of the slide */
.slide span {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--p-grey);
  padding: 10px;
 z-index: -99;
 height: 100%;
 width: 100%;

}
.slide h3 {
  font-weight: bolder;
  display: block;
  min-height: 100px;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
          -1px 1px 0 #000, 1px 1px 0 #000;
}

/* "Live" and "Repo" container */
.carousel-links {
  display: block;
  width: 100%;
  background: var(--p-grey);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0 0 5px 5px;
}

.carousel-links a {
  color: white;
  margin: 10px 5px;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in;
}

.carousel-links a:hover {
  transform: translateY(-2px);
}
.carousel-links img {
  width: 100%;
  height: 100%;
}

.bluesky {
  width: 100%;
  border-radius:15px 15px 0 0;
}

@keyframes hoverAnim {
  0% {
    transform: translatey(0);
  }

  100% {
    transform: translatey(5px);
  }
}

@keyframes scrollIntoView {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes homeScrollAnim {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Contacts */
#contact {
  margin-top: 7rem;
  margin-bottom: 20px;
  width: 80%;
  height: 230px;
  animation: none;
  color: #fff;
}

#contact .title {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.email-and-external-links {
  width: 100%;
  height: 60%;
  border: 3px solid var(--p-green);
  border-radius: 25px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emails {
  width: 100%;
  font-size: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.external-links {
  /* background: green; */
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.external-links a {
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 40px;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.external-links a:hover {
  transform: scale(1.06);
}

.linkedin {
  display: inline-block;
  background: url("../images/icons/linkedin.svg");
}

.github {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../images/icons/githubGreen.svg");
}
